<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">%X %d{yyyy-MM-dd/HH:mm:ss.SSS/zzz} %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{${LOG_PATTERN}}"/>
        </Console>
        <File name="File1" fileName="no-marker.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <NoMarkerFilter onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File2" fileName="statements.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <MarkerFilter marker="STATE_MARKER" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File3" fileName="requirements.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <MarkerFilter marker="REQUIRE_MARKER" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File4" fileName="Győrfi_Pál.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <TimeFilter start="20:00:00" end="05:00:00" timeZone="Europe/Budapest" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File1"/>
            <AppenderRef ref="File2"/>
            <AppenderRef ref="File3"/>
            <AppenderRef ref="File4"/>
        </Root>
    </Loggers>
</Configuration>
